* {
    font-family: 'Georgia', sans-serif;
    outline:none;
    font-weight: 700;  
    color:white;
}

body{
    background:#b3b3ff;
}

.app-content{
    display:grid;
    place-items: center;
    height: 650px;
}

.app-left{
    display: flex;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
    font-size: 30px;
     /* Firefox */
}

.app-input{
    padding: 10px 15px;
    height: 35px;
    margin:10px 0px;
    z-index: 999;
    color:#000000;
    border:none;
}

.button-operation{
    height:50px;
    background:white;
    border:none;
    color:#000000;
}

.clear{
    width: fit-content;
}